body {
  background-image: url("/asset/page-cover.png");
  background-color: #a5bbbb;
  background-size: cover;
}

.head-center {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 1000;
  text-transform: capitalize;
  color: #ffffff; /* Warna teks kontras */
  text-shadow: 1px 0px 1px #1a2e05, 0px 1px 1px #1a2e05, 2px 1px 1px #1a2e05,
    1px 2px 1px #1a2e05, 3px 2px 1px #1a2e05, 2px 3px 1px #1a2e05,
    4px 3px 1px #1a2e05, 3px 4px 1px #1a2e05, 5px 4px 1px #1a2e05,
    4px 5px 1px #1a2e05, 6px 5px 1px #1a2e05, 5px 6px 1px #1a2e05,
    7px 6px 1px #1a2e05;
}

.desc {
  font-family: "Roboto", sans-seriff;
}

.btn {
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  -webkit-box-shadow: 2px 2px 2px #000000;
  box-shadow: 2px 2px 2px #000000;
  border-radius: 5px;
}

.btn:hover {
  background-color: #365314;
  color: #0ea5e9;
}

.btn-side {
  -webkit-box-shadow: 2px 2px 2px #000000;
  box-shadow: 2px 2px 2px #000000;
}

.btn-side:hover {
  background-color: #365314;
  color: #0ea5e9;
}

.result-box {
  margin: 10px 0;
  padding: 10px;
  width: 15rem;
  height: 1rem;
  font-size: 1em;
  border: 1px solid #cccccc;
  border-radius: 5px;
  background: #f0f0f0;
  color: #000000;
}

.calculation-box {
  margin: 10px 0;
  padding: 10px;
  width: 15rem;
  height: 2rem;
  font-size: 1em;
  border: 1px solid #cccccc;
  border-radius: 5px;
  background: #f0f0f0;
  color: #000000;
}

.formula-head {
  font-family: "Roboto", sans-seriff;
  text-transform: capitalize;
}

footer {
  padding-top: 20px;
}
